<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :full_name %>
    <%= form.text_field :full_name, id: :customer_full_name %>
  </div>

  <div class="field">
    <%= form.label :mobile_number %>
    <%= form.text_field :mobile_number, id: :customer_mobile_number %>
  </div>

  <div class="field">
    <%= form.label :email_id %>
    <%= form.text_field :email_id, id: :customer_email_id %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password, id: :customer_password %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
