<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @customer.full_name %>
</p>

<p>
  <strong>Mobile number:</strong>
  <%= @customer.mobile_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email_id %>
</p>

<p>
  <strong>Password:</strong>
  <%= @customer.password %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
