<div class="product">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
<!-- Indicators -->
<ol class="carousel-indicators">
  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
  <li data-target="#myCarousel" data-slide-to="1"></li>
  <li data-target="#myCarousel" data-slide-to="2"></li>
</ol>
<div class="carousel-inner" role="listbox">
  <div class="item active">
   <a href="#"> <%= image_tag 'slide1.png' , class: "first-slide"%></a>
 
  </div>
  <div class="item">
   <a href="#"> <%=image_tag "ba1.jpg",  class: "second-slide "%></a>
   
  </div>
  <div class="item">
    <a href="#"><%=image_tag  "ba2.jpg", class: "third-slide"%></a>
    
  </div>
</div>

</div><!-- /.carousel -->

<div class="container">
    <div class="spec ">
        <h3>Special Offers</h3>
        <div class="ser-t">
            <b></b>
            <span><i></i></span>
            <b class="line"></b>
        </div>
    </div>
        <div class=" con-w3l">
        <%@products.map do|product|%>
            <div class="col-md-3 m-wthree">
								<div class="col-m product-image">								
									<a href="#" data-toggle="modal" data-target="#myModal1" class="offer-img">
                                  <%unless product.product_image1.nil?%>
                                    <%=image_tag product.product_image1, class: "img-responsive"%>
                                    <%else%>
                                    <%=image_tag 'no_img.png', class: "img-responsive"%>
                                    <%end%>
										<div class="offer"><p><span>Offer</span></p></div>
									</a>
									<div class="mid-1">
										<div class="women">
											<h6><a href="single.html"><%=product.product_name%></a>(<%=product.product_category.unit.unit_name%>)</h6>							
										</div>
										<div class="mid-2">
											<p ><label><%=product.price%></label><em class="item_price"><%= product.price.to_i - 100/(product.discount.to_i)%></em></p>
											  <div class="block">
												<div class="starbox small ghosting"> </div>
											</div>
											<div class="clearfix"></div>
										</div>
										<div class="add">
										   <%= link_to "Add Cart", carts_path, class: "btn btn-danger my-cart-btn my-cart-b "%>
										   <%= link_to "View", product_path(product), class: "btn btn-danger my-cart-btn my-cart-b "%>
										</div>
										
									</div>
								</div>
							</div>
<%end%>
</div>
</div>
</div>
<!--
</div>

            <div class="grid cs-style-3">
                <div>
                    <figure>
                    <%= image_tag "co2.jpg", class: ""%>
                        <figcaption>
                            <h3>Settings</h3>
                            <span>Jacob Cummings</span>
                            <a href="http://dribbble.com/shots/1116685-Settings">Take a look</a>
                        </figcaption>
                    </figure>
                </div>
                <li>
                    <figure>
                        <img src="/assets/images/co1.jpg" alt="img01">
                        <figcaption>
                            <h3>Camera</h3>
                            <span>Jacob Cummings</span>
                            <a href="http://dribbble.com/shots/1115632-Camera">Take a look</a>
                        </figcaption>
                    </figure>
                </li>
                
                
            </div>



                      <div class="container">
                      <div class="row">

                        <div class="col-md-3 pro-1">
                         <div class="fall-item fall-effect">
                        <div class="col-m">
                            <a href="#" data-toggle="modal" data-target="#myModal24" class="offer-img">
                                 <%= image_tag "co2.jpg", class: ""%>
                            </a>
                            <div class="mid-1">
                                <div class="women">
                                    <h6><a href="single.html">Gel</a>(150 g)</h6>                           
                                </div>
                                <div class="mid-2">
                                    <label>$1.00</label><em class="item_price">$0.80</em>
                                      <div class="block">
                                        <div class="starbox small ghosting"> </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                    <div class="add">
                                    <button class="btn btn-danger my-cart-btn my-cart-b" data-id="1" data-name="product 1" data-summary="summary 1" data-price="0.80" data-quantity="1" data-image="assets/of23.png">Add to Cart</button>

                                        <div class="mask">
                                   <button class="btn btn-danger my-cart-btn my-cart-b" data-id="1" data-name="product 1" data-summary="summary 1" data-price="0.80" data-quantity="1" data-image="assets/of23.png">Buy now</button>
                          
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    </div>
       




   
    
    
      
        


     <style type="text/css">

      
   
/*Hover Fall Effect*/
    .fall-item {
       width: 100%;
       height: auto;
       overflow: hidden;
       position: relative;
       text-align: center;
    }
    .fall-item .mask,.fall-item .content {
       width: 100%;
       height: 100%;
       position: absolute;
       overflow: hidden;
       top: 0;
       left: 0;
    }
    .fall-item img {
       display: block;
       position: relative;
       width: 100%;
       height: auto;
    }
    .fall-item h2 {
       text-transform: uppercase;
       color: #fff;
       text-align: center;
       position: relative;
       padding: 10px;
       background: rgba(0, 0, 0, 0.8);
       margin: 0 0 0 0;
    }
    .fall-item p {
       font-style: italic;
       position: relative;
       color: #fff;
       padding: 10px 20px 20px;
       text-align: center;
    }
    .fall-effect .mask {
       background-color: rgba(255, 255, 255, 0.7);
       top: -200px;
       -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
       filter: alpha(opacity=0);
       opacity: 0;
       -webkit-transition: all 0.3s ease-out 0.5s;
       -moz-transition: all 0.3s ease-out 0.5s;
       -o-transition: all 0.3s ease-out 0.5s;
       -ms-transition: all 0.3s ease-out 0.5s;
       transition: all 0.3s ease-out 0.5s;
    }
    .fall-effect h2 {
       -webkit-transform: translateY(-200px);
       -moz-transform: translateY(-200px);
       -o-transform: translateY(-200px);
       -ms-transform: translateY(-200px);
       transform: translateY(-200px);
       -webkit-transition: all 0.2s ease-in-out 0.1s;
       -moz-transition: all 0.2s ease-in-out 0.1s;
       -o-transition: all 0.2s ease-in-out 0.1s;
       -ms-transition: all 0.2s ease-in-out 0.1s;
       transition: all 0.2s ease-in-out 0.1s;
    }
    .fall-effect p {
       color: #333;
       -webkit-transform: translateY(-200px);
       -moz-transform: translateY(-200px);
       -o-transform: translateY(-200px);
       -ms-transform: translateY(-200px);
       transform: translateY(-200px);
       -webkit-transition: all 0.2s ease-in-out 0.2s;
       -moz-transition: all 0.2s ease-in-out 0.2s;
       -o-transition: all 0.2s ease-in-out 0.2s;
       -ms-transition: all 0.2s ease-in-out 0.2s;
       transition: all 0.2s ease-in-out 0.2s;
    }
    .fall-effect a.btn {
    /*   -webkit-transform: translateY(-200px);
       -moz-transform: translateY(-200px);
       -o-transform: translateY(-200px);
       -ms-transform: translateY(-200px);
       transform: translateY(-200px);
       -webkit-transition: all 0.2s ease-in-out 0.3s;
       -moz-transition: all 0.2s ease-in-out 0.3s;
       -o-transition: all 0.2s ease-in-out 0.3s;
       -ms-transition: all 0.2s ease-in-out 0.3s;
       transition: all 0.2s ease-in-out 0.3s;*/
    }
    .fall-effect:hover .mask {
       -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
       filter: alpha(opacity=100);
       opacity: 1;
       top: 0px;
       -webkit-transition-delay: 0s;
       -moz-transition-delay: 0s;
       -o-transition-delay: 0s;
       -ms-transition-delay: 0s;
       transition-delay: 0s;

    }
    .fall-effect:hover h2 {
       -webkit-transform: translateY(0px);
       -moz-transform: translateY(0px);
       -o-transform: translateY(0px);
       -ms-transform: translateY(0px);
       transform: translateY(0px);
       -webkit-transition-delay: 0.4s;
       -moz-transition-delay: 0.4s;
       -o-transition-delay: 0.4s;
       -ms-transition-delay: 0.4s;
       transition-delay: 0.4s;
    }
    .fall-effect:hover p {
       -webkit-transform: translateY(0px);
       -moz-transform: translateY(0px);
       -o-transform: translateY(0px);
       -ms-transform: translateY(0px);
       transform: translateY(0px);
       -webkit-transition-delay: 0.2s;
       -moz-transition-delay: 0.2s;
       -o-transition-delay: 0.2s;
       -ms-transition-delay: 0.2s;
       transition-delay: 0.2s;
    }
    .fall-effect:hover a.btn {
     /*  -webkit-transform: translateY(0px);
       -moz-transform: translateY(0px);
       -o-transform: translateY(0px);
       -ms-transform: translateY(0px);
       transform: translateY(0px);
       -webkit-transition-delay: 0s;
       -moz-transition-delay: 0s;
       -o-transition-delay: 0s;
       -ms-transition-delay: 0s;
       transition-delay: 0s;*/
    }


     </style>    </div> -->
     <style>
    .offer-img img {
        margin: 0 auto !important;
        width: 55% !important;
        height: 100px !important;
    }
     </style>