<div class="banner-top">
<div class="container">
    <h3 >Register</h3>
    <h4><a href="<%= pages_dashboard_path%>">Home</a><label>/</label>Register</h4>
    <div class="clearfix"> </div>
</div>
</div>

<!--login-->

<div class="login">
    <div class="main-agileits">
            <div class="form-w3agile form1">
                <h3>Register</h3>
                <%= form_for(:customer, :url => {:controller => 'customers', :action => 'create'}) do |f| %>
                    <div class="key">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <%= f.text_field :full_name, placeholder: "Full Name" %> 
                        <div class="clearfix"></div>
                    </div> 
                    <div class="key">
                        <i class="fa fa-mobile-phone" aria-hidden="true"></i>
                        <%= f.text_field :mobile_number, placeholder: "Mobile Number" %> 
                        <div class="clearfix"></div>
                    </div>
                    <div class="key">
                        <i class="fa fa-envelope" style="font-size:10px" aria-hidden="true"></i>
                        <%= f.text_field :email_id, placeholder: "Email id" %> 
                        <div class="clearfix"></div>
                    </div>
                    <div class="key">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                        <%= f.text_field :password, placeholder: "Password" %> 
                        <div class="clearfix"></div>
                    </div>
                    <input type="submit" value="Submit">
              <% end %>
            </div>
            <br>
            <div class="forg">
            <a href="#" class="forg-left">Forgot Password</a>
            <a href="<%= pages_login_path%>" class="forg-right">Login</a>
        <div class="clearfix"></div>
        </div>
        </div>
        
    </div>