<p id="notice"><%= notice %></p>

<p>
  <strong>User name:</strong>
  <%= @backend_user.user_name %>
</p>

<p>
  <strong>Mobile number:</strong>
  <%= @backend_user.mobile_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @backend_user.email_id %>
</p>

<p>
  <strong>Password:</strong>
  <%= @backend_user.password %>
</p>

<p>
  <strong>Role:</strong>
  <%= @backend_user.role %>
</p>

<%= link_to 'Edit', edit_backend_user_path(@backend_user) %> |
<%= link_to 'Back', backend_users_path %>
