<%= form_with(model: customer_detail, local: true) do |form| %>
  <% if customer_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer_detail.errors.count, "error") %> prohibited this customer_detail from being saved:</h2>

      <ul>
      <% customer_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :address1 %>
    <%= form.text_field :address1, id: :customer_detail_address1 %>
  </div>

  <div class="field">
    <%= form.label :address2 %>
    <%= form.text_field :address2, id: :customer_detail_address2 %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :customer_detail_city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :customer_detail_state %>
  </div>

  <div class="field">
    <%= form.label :pincode %>
    <%= form.text_field :pincode, id: :customer_detail_pincode %>
  </div>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.text_field :customer_id, id: :customer_detail_customer_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
