<div class="jumbotron">
  <div class="container">
<div class ="card">

<p id="notice"><%= notice %></p>
<div class="card-header">
<h1>Product Categories
<%= link_to 'New Product Category', new_product_category_path, class: "btn btn-primary  pull-right" %>

</h1>
</div>
<br>
<div clas="card-block">
<table class=" table table-bordered table-responsive">
  <thead>
    <tr>
      <th>Category Name</th>
      <th>Category Code</th>
      <th>Unit</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @product_categories.each do |product_category| %>
      <tr>
        <td><%= product_category.cat_name %></td>
        <td><%= product_category.cat_code %></td>
        <td><%= product_category.unit.unit_name %></td>
        <td><%= link_to '<i class="fa fa-eye"></i>'.html_safe, product_category,class: "btn btn-primary",data:{toggle: "tooltip"}, title: "View" %>
        <%= link_to '<i class="fa fa-pencil"></i>'.html_safe, edit_product_category_path(product_category),class: "btn btn-success btn-sm",data:{toggle: "tooltip"}, title: "Edit"  %>
        <%= link_to '<i class="fa fa-trash"></i>'.html_safe, product_category,  method: :delete, data: { confirm: 'Are you sure you want to delete?',toggle: "tooltip"},class: "btn btn-danger btn-sm", title: "Delete"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>
</div>
<br>
