<p id="notice"><%= notice %></p>

<p>
  <strong>Category Name:</strong>
  <%= @product_category.cat_name %>
</p>

<p>
  <strong>Category Code:</strong>
  <%= @product_category.cat_code %>
</p>

<p>
  <strong>Unit:</strong>
  <%= @product_category.unit.unit_name %>
</p>

<%= link_to 'Edit', edit_product_category_path(@product_category) %> |
<%= link_to 'Back', product_categories_path %>
