<%= form_with(model: unit, local: true) do |form| %>
  <% if unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
      <% unit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :unit_name %>
    <%= form.text_field :unit_name, id: :unit_unit_name %>
  </div>

  <div class="field">
    <%= form.label :short_name %>
    <%= form.text_field :short_name, id: :unit_short_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
