<p id="notice"><%= notice %></p>

<p>
  <strong>Unit name:</strong>
  <%= @unit.unit_name %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @unit.short_name %>
</p>

<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
