<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :product_name %>
    <%= form.text_field :product_name, id: :product_product_name %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.text_field :quantity, id: :product_quantity %>
  </div>

  <div class="field">
    <%= form.label :min_quantity %>
    <%= form.text_field :min_quantity, id: :product_min_quantity %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :product_price %>
  </div>

  <div class="field">
    <%= form.label :discount %>
    <%= form.text_field :discount, id: :product_discount %>
  </div>

  <div class="field">
    <%= form.label :subscription_date %>
    <%= form.text_field :subscription_date, id: :product_subscription_date %>
  </div>

  <div class="field">
    <%= form.label :min_delivery_date %>
    <%= form.text_field :min_delivery_date, id: :product_min_delivery_date %>
  </div>

  <div class="field">
    <%= form.label :product_category_id %>
    <%= form.text_field :product_category_id, id: :product_product_category_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
